html, body {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
	margin: auto;
    background-color: #000;
    overflow: hidden;
}

body.dropping {
	border-color: purple;
}

.tools {
	padding: 5px;
	flex-grow: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1f5768;
}

code#console {
	flex-grow: 1;
	background-color: #f1f1f1;
    color: crimson;
    overflow-y: auto;
	white-space: pre-wrap;
	font-size: 125%;
    padding: 5px;
}

.controls {
	flex-grow: 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	background-color: #1f5768;
	padding: 5px;
}

.l1 {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	padding-bottom: 5px;
}

.l1 .form-group {
	flex: 1;
}

.l1 .form-group label {
	width: 20%;
}

.l1 .form-group input {
	width: 80%;
}

.l2 {
	display: flex;
	padding-top: 5px;
}

.l2 .form-group {
	margin: 1px;
	padding: 1px;
    box-shadow: 0 0 0 1px black;
}

.l2 input {
	width: 40%;
}
